<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GiaoDienHTQLBH.Properties.Settings.HTQLBHHighlandCoffeeConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=HTQLBHHighlandCoffee;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="GiaoDienHTQLBH.Properties.Settings.HighlandsCoffeeConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=HighlandsCoffee;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>